<!DOCTYPE html>
<html>

<head>
    <title>AT Live</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GMAPS_KEY %>"></script>
    <%= htmlWebpackPlugin.tags.headTags %>
</head>

<body>
    <div id="nav-show" class="hide-0-899 btn">
        <img src="../assets/menu-24px-white.svg">
    </div>
    <div id="map" class="active">
        <!-- Google Maps -->
    </div>
    <div id="main">
        <div id="content">
            <!-- #map is here on 0-899 site -->
            <div id="routes"">
                <div class="container">
                    <input type="search" autocorrect="off" autocomplete="off" spellcheck="false" required />
                    <label>Track a new route</label>
                    <div id="results">
                        <!-- List of routes that can be added -->
                    </div>
                    <div id="active">
                        <!-- List of active routes -->
                    </div>
                </div>
            </div>
            <div id="settings">
                
            </div>
        </div>
        <div id="navbar">
            <div id="nav-map" class="tab btn active hide-900">
                <img src="../assets/map-24px-white.svg">
                <span>Map</span>
            </div>
            <div id="nav-routes" class="tab btn">
                <img src="../assets/search-24px-white.svg">
                <span>Routes</span>
            </div>
            <div id="nav-settings" class="tab btn">
                <img src="../assets/settings-24px-white.svg">
                <span>Settings</span>
            </div>
            <div id="nav-hide" class="tab btn hide-0-899">
                <img src="../assets/menu_open-24px-white.svg">
                <span>Hide Menu</span>
            </div>
        </div>
    </div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
</body>

</html>
