<!DOCTYPE html>
<html>

<head>
    <title>AT Live</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GMAPS_KEY %>"></script>
    <%= htmlWebpackPlugin.tags.headTags %>
</head>

<body>
    <img id="open-menu" class="btn hide-900" src="../assets/menu.svg">
    <div id="menu">
        <div class="spacer hide-0-899"></div>
        <div id="title">
            <img src="../assets/logo.svg" alt="AT Live">
            <div class="hide-0-899">Routes:</div>
            <div class="hide-900">AT Live</div>
            <div class="close hide-900"><img src="../assets/close.svg" alt="Close menu"></div>
        </div>
        <!-- List of active routes -->
        <div id="add-route">
            <img class="btn hide-0-899" src="../assets/plus-circle.svg">
            <input type="text" placeholder="Search" autocomplete="off">
            <div id="dropdown-filter">
                <!-- List of routes -->
            </div>
        </div>
        <div id="about" class="hide-900 show">
            <div>About</div>
            <div class="message">
                <div>AT Live provides live tracking for buses, trains and ferries on the Auckland Transport network.
                </div>
                <div class="copyright">&copy; Matt Moran (2020).</div>
            </div>
        </div>
        <div id="help" class="hide-0-899">
            <img class="btn" src="../assets/help-circle.svg">
            <div class="message">
                <p>AT Live provides live tracking for buses, trains and ferries on the Auckland Transport
                    network.</p>
                <p>Track a new route by clicking the <img class="inline" src="../assets/plus-circle.svg"> and change its
                    color by clicking on the left of its icon in the menu bar.</p>
                <p>Markers with a dark center are travelling in the opposite direction to those with a light
                    center. Dark center dots tend to move towards the city.</p>
                <span class="copyright">&copy; Matt Moran (2020).</span>
            </div>
        </div>
        <div class="spacer hide-0-899"></div>
    </div>
    <div id="menu-blend" class="hide-0-899"></div>
    <div id="map">
        <!-- Google Maps -->
    </div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
</body>

</html>
