.hide-0-899 {
    display: none !important;
}

#map {
    display: none;
    position: fixed !important;
    top: 0;
    height: calc(100% - #{$navHeight});
    width: 100%;

    &.active {
        display: block;
    }
}

#main {
    height: 100%;
    width: 100%;
}

#content {
    height: calc(100% - #{$navHeight});

    .col .long.name {
        overflow-x: auto;
    }
}
