body {
    color: var(--black);
}

h2 {
    color: var(--blue);
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

svg {
    fill: currentColor;
    height: 24px;
    width: 24px;
}

.hide {
    display: none !important;
}

.btn {
    cursor: pointer;
    user-select: none;
}

.flex-fill-no-overflow {
    /* note: the parent _must_ be position:relative */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#content {
    z-index: 2;
    overflow: auto;
    width: 100%;
    background-color: var(--white);

    >div {
        display: none;
        padding: 16px;

        &.active {
            display: block;
        }
    }

    #routes {
        $itemHeight: 48px;

        .container {
            position: relative;
        }

        input {
            height: 100%;
            width: 100%;
            padding: 20px 16px 6px;
            appearance: none;
            background-color: var(--blue-100);
            color: var(--black);
            border: none;
            border-bottom: 1px solid;
            border-radius: 4px 4px 0 0;
            outline: none;
        }

        label {
            position: absolute;
            top: $itemHeight/2;
            left: 16px;
            right: initial;
            transform: translateY(-50%);
            transform-origin: left top;
            color: var(--black-800);
            pointer-events: none;
            transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
            will-change: transform;
        }

        input:focus,
        input:valid {
            border-bottom: 2px solid var(--blue);

            &~label {
                transform: translateY(-106%) scale(0.75);
                color: var(--blue);
            }

            &~#results {
                display: block;
            }

            &~#active {
                display: none;
            }
        }

        .row {
            display: flex;
            align-items: center;
            height: $itemHeight;
            width: 100%;
        }

        #results {
            display: none;
            overflow-y: auto;
            flex-grow: 1;

            .route {
                border-bottom: 1px solid var(--blue);

                img {
                    height: 32px;
                }

                .col {
                    width: calc(100% - 40px);

                    .short.name {
                        display: block;
                        font-size: 16px;
                        font-weight: bold;
                    }

                    .long.name {
                        display: block;
                        font-size: 13px;
                        white-space: nowrap;
                    }
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        #active {
            .route {
                --color: transparent;
                border-bottom: 1px solid var(--blue);

                img {
                    height: 32px;
                }

                .pickr {
                    height: 32px;
                    width: 32px;
                    background-color: var(--color);
                    border-radius: 4px;
                }

                .remove {
                    height: 32px;
                }

                .col {
                    width: calc(100% - 2*32px);
                    padding-left: 4px;

                    .short.name {
                        display: block;
                        font-size: 16px;
                        font-weight: bold;
                    }

                    .long.name {
                        display: block;
                        font-size: 13px;
                        white-space: nowrap;
                    }
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }

    #settings {
        $itemHeight: 32px;

        .setting {
            display: flex;
            align-items: center;
            height: $itemHeight;
            width: 100%;
            cursor: pointer;

            span {
                flex-grow: 1;
            }

            .switch-input {
                display: none;
            
                &:checked+.switch-label:before {
                    background-color: var(--blue-200);
                }
            
                &:checked+.switch-label:after {
                    background-color: var(--blue);
                    transform: translate(80%, -50%);
                }
            }
            
            .switch-label {
                position: relative;
                display: inline-block;
                cursor: pointer;
                padding: 10px 0 10px 36px;
            
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    margin: 0;
                    outline: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all 150ms ease;
                }
            
                &:before {
                    left: 1px;
                    width: 34px;
                    height: 14px;
                    background-color: #9E9E9E;
                    border-radius: 8px;
                }
            
                &:after {
                    left: 0;
                    width: 20px;
                    height: 20px;
                    background-color: #FAFAFA;
                    border-radius: 50%;
                    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
                }
            }
        }
    }
}

#navbar {
    z-index: 2;
    display: flex;
    justify-content: center;
    height: $navHeight;
    background-color: var(--blue);

    .tab {
        display: flex;
        flex: 1 1 0px;
        flex-direction: column;
        height: 100%;
        max-width: 168px;
        padding-top: 8px;
        font-size: 12px;
        color: var(--blue-200);
        text-align: center;

        &.active,
        &:hover {
            color: var(--white);
        }

        svg {
            margin: 0 auto;
        }
    }
}