@import "../../node_modules/normalize.css/normalize.css";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    text-size-adjust: 100%;
}

body {
    font-family: Verdana, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit
}

@media (max-width: 899px) {
    @import "./0-899";
}
@media (min-width: 900px) {
    @import "./900-";
}
