@import url("0-899.css") (max-width: 899px);
@import url("900-.css") (min-width: 900px);

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    text-size-adjust: 100%;
}

body {
    font-family: Verdana, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit
}
